/* Border, Background, and text alignment for .Div */
.Div {
  border: 1px outset black;
  background-color: azure;    
  text-align: center;
}
/* Color for inside of the boxes */
li   {color: black;}
p    {color: black;}
a   {color: black;}
/* alignment for p and div */
p {text-align: center;}
div {text-align: center;}
/* The details and parameters for div */
div {
  background-color: lightgrey;
  width: 700px;
  border: 1px solid black;
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  letter-spacing: 2px;
}
/* The set parameters for my image */
img {
  height: 400px;
  width: 200px;
  border: 3px solid black;
  padding: 2px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* Div display and margins */
Div {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* h1 features */
h1 {
  font-size: 30px;
  text-align: center;
}
/* h2 features */
h2 {
  font-size: 25px;
  text-align: center;
}
/* h3 features */
h3 {
  font-size: 20px;
  text-align: center;
}
